h1 {color:brown}
p {color: black;}

#content-index {
    color: black;
   width: 800px;
   margin-left: auto;
margin-right:auto;
}

body {background-image:url(images/jeena-background.jpg);
  background-size: 3000px;
}

#mySelf {
    float: left;
    padding: 3px;
    margin-right: 10px;
  }



 

